### Hypothesis statement:

In [2]:
import pandas as pd
df= pd.read_csv("general_data.csv")
df.head()

   Age Attrition     BusinessTravel  ... YearsAtCompany  YearsSinceLastPromotion  YearsWithCurrManager
0   51        No      Travel_Rarely  ...              1                        0                     0
1   31       Yes  Travel_Frequently  ...              5                        1                     4
2   32        No  Travel_Frequently  ...              5                        0                     3
3   38        No         Non-Travel  ...              8                        7                     5
4   32        No      Travel_Rarely  ...              6                        0                     4

[5 rows x 24 columns]

In [3]:
df.shape

(4410, 24)

In [4]:
df.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [69]:
df.isnull().sum()

Age                         0
Attrition                   0
BusinessTravel              0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeID                  0
Gender                      0
JobLevel                    0
JobRole                     0
MaritalStatus               0
MonthlyIncome               0
NumCompaniesWorked         19
Over18                      0
PercentSalaryHike           0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           9
TrainingTimesLastYear       0
YearsAtCompany              0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [70]:
df.dropna(subset=["NumCompaniesWorked"],how="any").shape

(4391, 24)

In [72]:
df1=df.groupby("Attrition")

In [76]:
df1.describe()

              Age                                               ... YearsWithCurrManager
            count       mean       std   min   25%   50%   75%  ...                 mean       std  min  25%  50%  75%   max
Attrition                                                       ...
No         3699.0  37.561233  8.885956  18.0  31.0  36.0  43.0  ...             4.367397  3.593144  0.0  2.0  3.0  7.0  17.0
Yes         711.0  33.607595  9.675693  18.0  28.0  32.0  39.0  ...             2.852321  3.138918  0.0  0.0  2.0  5.0  14.0

[2 rows x 128 columns]

In [83]:
df2 =df1[["NumCompaniesWorked","PercentSalaryHike"]].describe()

In [84]:
df2

          NumCompaniesWorked                                          ... PercentSalaryHike
                       count      mean       std  min  25%  50%  75%  ...              mean       std   min   25%   50%   75%   max
Attrition                                                             ...
No                    3684.0  2.648480  2.460537  0.0  1.0  2.0  4.0  ...         15.157340  3.634551  11.0  12.0  14.0  18.0  25.0
Yes                    707.0  2.936351  2.678774  0.0  1.0  1.0  5.0  ...         15.481013  3.775289  11.0  12.0  14.0  18.0  25.0

[2 rows x 16 columns]

### Hypothesis statement:

1. If the average age of the employee in the company is less than equal to 33 years then the attrition rate is high.

2. If the average distance from home of the employee to office is more than equal to 9kms than attrition rate is high.

3. If the average monthly income of the employee is less than equal to 62,000 then the attriton rate is high.

4. If the average noof companies the employee has worked is more than equal to 3 then the attrition is high.

5. If the average percentage salary hike of the employee is less than equal to 15 then the attrition rate is high.

6. If the average total no of years the employee has worked is less than equal to 8years than the attrition rate is high.

7. If the average trainingtime last year of the employee is less than equal to 2 then the attrition rate is high.

8. If the average years at the company of the employee is less than equal to 5 years than the attrition rate is high

9. If the average years since last promotion of the employee is more than equal to 2 years then attrition rate is high.

10. If the average yearswith current manager of the employee is less than equal to 3 years than attrition rate is high.